!!!
%html{:lang => "en-US", "xml:lang" => "en-US", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "authenticity_token", :name => "csrf-param"}/
    %meta{:content => "1Bp7uIri6lzM1t/qX3w4bu/EvrGlrL/RGC9KqBzX6S8=", :name => "csrf-token"}/
    %title
      riverwest24
    %meta{:content => "", :name => "keywords"}
    %meta{:content => "", :name => "description"}
    = stylesheet_link_tag "screen", "application", "handheld"
    = yield :css
    %link(rel="shortcut icon" href="#{image_path("/favicon.png")}" type="image/png")
  %body
    #container
      #header
        .container
          %a#logo{:href => "/"}
          #title
            %h1 Riverwest 24
            %h2 Hour Bike Race
            %span.countstart{"data-countstart" => "Fri, 27 Jul 2012 19:00:00 -0500"}
              July 27-28, 2012 |  7P -  7P
          #countdown{:style => "visibility: hidden"}
            %p.countup The race starts in:
            %p.countdown{:style => "display: none"} It's on! The race has been going for:
            #day
              %b 00
              %span days
            #hrs
              %b 00
              %span hrs
            #min
              %b 00
              %span min
            #sec
              %b 00
              %span sec
          %ul#nav
            %li
              %a{:href => "/home/articles/home"} Home
              %li
                %a{:href => "/leader-board/2012"} Leaderboards
                %ul
                  %li
                    %a{:href => "/leader-board/2012"} 2012
                  %li
                    %a{:href => "/leader-board/2011"} 2011
                  %li
                    %a{:href => "/leader-board/2010"} 2010
                  %li
                    %a{:href => "/leader-board/2009"} 2009
                  %li
                    %a{:href => "/leader-board/2008"} 2008
              %li
                %a{:href => "/about/articles/overview"} About
                %ul
                  %li
                    %a{:href => "/about/articles/overview"} Overview
                  %li
                    %a{:href => "/about/articles/rules"} Rules
                  %li
                    %a{:href => "/about/articles/faq"} FAQ
              %li
                %a{:href => "/media/articles/press"} Media
                %ul
                  %li
                    %a{:href => "/media/articles/press"} Press
                  %li
                    %a{:href => "/media/articles/documentary"} Documentary
              %li
                %a{:href => "/join/articles/volunteer"} Join
                %ul
                  %li
                    %a{:href => "/join/articles/volunteer"} Volunteer
                  %li
                    %a{:href => "/join/articles/sponsor"} Sponsor
              %li
                %a{:href => "/contact/articles/contact"} Contact
      #main
        .container
          #content
            %h3 Bonus Checkpoint #1 - Haircut 
            %table#bonus-points
              %thead
                %tr
                  %th pos#
                  %th Team name
                  %th Amt
                  %th Actions
              %tbody
                %tr
                  %td 001
                  %td This is a team name
                  %td 2
                  %td
                    = link_to "Edit", "#", :class => "edit"
                    %input.delete{:type => "submit"}
          #sidebar
            %h4 Bonus Logger
            %form#new_bonus.new_point{"accept-charset" => "UTF-8", :action => "/points", :autocomplete => "off", :method => "post"}
              %div{:style => "margin:0;padding:0;display:inline"}
                %input{:name => "utf8", :type => "hidden", :value => "✓"}/
                %input{:name => "authenticity_token", :type => "hidden", :value => "1Bp7uIri6lzM1t/qX3w4bu/EvrGlrL/RGC9KqBzX6S8="}/
              #bonus.calculator
                %input#point_category{:name => "point[category]", :type => "hidden", :value => "Bonus"}/
                %input#point_since_start{:name => "point[since_start]", :type => "hidden"}/
                .field
                  %label.medium{:for => "point_team_position"} POS#
                .field
                  %input#point_team_position.medium.text{:name => "point[team_position]", :size => "30", :tabindex => "11", :type => "text"}/
                  %input#point_submit.button.submit{:name => "commit", :type => "submit", :value => "OK"}/

      #footer
        .container
          %p
            %a{:href => "/home"} Home
            |
            %a{:href => "/about"} About
            |
            %a{:href => "/media"} Media
            |
            %a{:href => "/join"} Join
            |
            %a{:href => "/contact"} Contact
          %p
            Riverwest - Milwaukee, WI
          %p
            \© Copyright 2012 - All Rights Reserved
          %p
            %a{:href => "mailto:info@riverwest24.com"} info@riverwest24.com
