.bundle
log/*.log
tmp/*
!tmp/.gitignore
.DS_Store
public/cache/**/*
doc/api
doc/app
doc/spec/*
db/data.*
db/*.sqlite3
config/database.yml
converage/**/*
public/stylesheets/*.css
*[~]

public/userfiles/*
!public/userfiles/.gitignore
