.bundle
log/
tmp/
!tmp/.gitignore
.DS_Store
public/cache/**/*
db/data.*
db/*.sqlite3
config/database.yml
coverage/**/*
*[~]
.byebug_history

public/userfiles/*
!public/userfiles/.gitignore

/config/master.key
/storage
