
=actions-table
  text-align: left
  width:  100%
  border-collapse: collapse
  margin: 10px 0
  font-size: 0.625rem
  th, td
    line-height: 1.0em
    padding: 15px 10px 10px
    &:last-child
      text-align: right
      white-space: nowrap
  th
    font: 700 1.4em $default
    color: #1a1a1a
    border-bottom: 2px solid #1a1a1a
  thead
    th
      padding-bottom: 5px
  tbody
    tr
      &:nth-child(even)
        background: #fbfbfb
      &:hover
        background: lighten($yellow, 50%)
    th
      &:after
        position: absolute
        width: 1px
        height: 6px
        right: 0
        bottom: 0
        background: #1a1a1a
    td
      border-left: 1px dashed #e0e0e0
      border-right: 1px dashed #e0e0e0
      font: 400 1.3em $default
      border-bottom: 1px solid #ccc
      padding: 15px 10px
      line-height: 1.6em
      p
        font-size: 1.0em
        margin: 0
        line-height: 1.4em
