#flash_notice, #flash_alert, #flash_error
  width: 100%
  font: 700 1.2em $default
  color: #fff
  text-align: center
  line-height: 1.8em
  padding: 0
  z-index: 2
  flex: 1 0 100%

#page
  #flash_notice, #flash_alert, #flash_error
    margin: 0

#flash_notice
  background: $primaryColor
  background: linear-gradient( lighten( $primaryColor, 5% ) 0%, $primaryColor 20%, $primaryColor 80%, darken( $primaryColor, 5% ) 100% )
  margin-top: -20px
#flash_alert, #flash_error
  background: darken( $red, 5% )
  background-image: linear-gradient( $red 0%, darken( $red, 5% ) 20%, darken( $red, 5% ) 80%, darken( $red, 10% ) 100% )

