/* standard elements */
html {min-height: 100%;}

* {
    margin: 0;
    padding: 0;
}

a {color: #000000; text-decoration: underline; padding: 2px 10px;}
a:hover {background-color: #F8D634;}
a img {border: none;}
.center_align{text-align: center;}
.left_align{text-align: left;}
.right_align{text-align: right;}

img {border: 3px double #cccccc;}

a.p {padding: 2px 20px;}
a.p span {font-weight: bold;}


body {
    background: #fff url('../../images/theme/bg_tile.gif') repeat-y center;
    font: normal 1em "Arial", sans-serif;
}

#container {width:540px; margin: 10px auto; border:thin dashed grey;}

li {list-style: none;}
h1, h2, h3 {font-weight: normal; margin:0; padding:0;
  font-family: "Arial Black", sans-serif;}

code {
    background: #FFF;
    border: 1px solid #EEE;
    border-left: 6px solid #CCC;
    color: #666;
    display: block;
    font-size: 1em;
    line-height: 1.6em;
    margin-bottom: 12px;
    padding: 8px 10px;
    white-space: pre;
}

blockquote {
    background: url('../../images/theme/quote.gif') no-repeat;
    display: block;
    font-weight: bold;
    padding-left: 28px;
}

/* misc */
.clearer, .clear {clear: both; font-size: 0;}
.inline {display: inline;}
.left {float: left;}
.right {float: right;}
.center{text-align:center;}
.dots_bottom {border-bottom: 3px dotted #cccccc;}

.black {border-color:#000;}


/* structure */

#inner {width: 100%; background: transparent url('../../images/theme/drop_shadow.png') repeat-y center;}

.inner-container { margin: 0 auto; width: 900px; background: transparent url('../../images/theme/sidebar_tile.gif') repeat-y right;}
.main {background: transparent url('../../images/theme/drop_shadow_right.png') repeat-y 620px}
.outer-container { padding-bottom: 6px; min-width: 900px;}

/* headere & title */

#cd {display: block; float:right; color: #333333;}
.cd {display:inline; font-weight: bold;}

#days, #hrs, #min, #sec {ont-size: 1.3em; }

#countdown {height:36px; width: 900px; margin: 0 auto; position: relative;}
#countdown h4 {padding: 16px 0 0 136px;float:left;}

#account {position: absolute; z-index: 100; right: 0px; color: #8A9CA1;}
#account a {margin:3px 6px 0 6px; font-size: 13px; text-decoration: none;}
#account a:hover {color: #8A9CA1;}
  
#header_container {width: 100%;; height: 73px; color: 404040; background: transparent url('../../images/theme/drop_shadow.png') repeat-y center;}
   
a#logo {background: transparent url('../../images/theme/rw24.png') no-repeat;
  position: absolute; top:-40px; left:-34px; width:165px; height:163px;}
   
.header {background: #3c3b39 url('../../images/theme/header_bg.jpg') no-repeat left; height: 73px;
  position: relative; width:900px; font-family: 3em normal "Arial Black", sans-serif; margin: 0 auto;
  font-family: "Arial Black", sans-serif;}

.header .title { position: relative; margin: 0; color: #FFF; width:300px; line-height: 1; text-align:right;
  margin: 0 0 0 120px; padding: 1px 0 0 0;}

.header .title h1.sitename a {color: #F8D634; text-decoration: none; font-size: 1.2em; padding: 0;}
h1.sitename a:hover {background:none; text-decoration:none;}
.header .title .slogan {display: block; font-size: 1.8em; color: #FFFFFF; font-variant: small-caps;}

/* path */
#path_container {width: 100%; background: #F8D634 url('../../images/theme/drop_shadow.png') repeat-y center;}
.path { background: #ffffff; width: 900px; margin: 0 auto; font-family: "Arial Black", sans-serif; 
  text-align: center; border-bottom: 1px solid #cccccc; border-top: 1px solid #cccccc;}
.path li,.path ul {display: inline;}

li.current_page_item a, li.current_page_item a:hover {font-weight: bold; color: #000000; background: #F8D634;}
.path a {color: black; text-decoration: none; padding: 0 48px; }
.path a:hover {background-color: #F8D634;}

.post {background: transparent url('../../images/theme/post.gif') no-repeat 11px 18px; padding: 0 0 4px 0;}
.post:hover {background-image:url('../../images/theme/post_over.gif');}

/* main */

/* content */
#content { float: left; width: 600px; min-height:600px; background-color: #FFFFFF; padding: 10px;  border-right: 1px solid #cccccc;}
#content .author { font-size: .8em; margin-bottom: 6px; color: grey;
}
#content li {
    line-height: 1.4em;
    list-style: url('../../images/theme/li.gif');
    margin-left: 18px;
}

/* navigation */

.banner {display: block; margin: 0 0 6px 0;}
.banner:hover {background-position: bottom;}

#sidebar { padding: 10px; margin: 5px; float: right; width: 240px; font-size: .9em;}

#sidebar h3 {margin: 10px 0 0 0;} 
#sidebar ul {padding: 0;}
#sidebar li {border-bottom: 1px solid #999;}
#sidebar li a { display: block; text-decoration: none;}

.sidebar_content {margin: 0 0 20px 0; padding: 0 0 20px 0; border-bottom: 6px double #aaa;}

/* footer */
#footer { background: transparent url('../../images/theme/drop_shadow.png') repeat-y center;}

#footer_content {background: #3c3b39 url('../../images/theme/header_bg.jpg') no-repeat top right;  
  width: 882px; height: 40px; margin: 0 auto; padding: 10px; font-size: .8em; color: white;}

#footer a { font-family: "Arial Black", sans-serif; color: white;}
#footer a:hover {color: black;}

#footer span {color: #F8D634; font-size: .8em;}
  #footer .right {margin: 33px 0 0 0;}

/* posts */
h2.title a { display: block;}
  
h2.title:hover a {color: #000000;}
.atomentry h1 a:hover {
    border-color: #F60;
    color: #553;
}

.atomentry {text-align: justify; padding: 0 30px;}
.atomentry .info{ background: #e3e3e3; border: 3px double #cccccc;
    clear: both; margin: 2px 0 4px; padding: 5px 10px; font-size: .9em;
}

.atomentry p {margin: 0 0 6px 0; text-indent: 10px;}
.atomentry p.info {text-indent: 0px;}
.atomentry img {
    border: 2px solid #E7E7E2;
    margin: 0 10px;
}
.atomentry a img {border: 4px solid #DDD;}
.atomentry a:hover img {border-color: #CCC;}

.info a:hover {text-decoration: underline;}

/* comments */
#content ol li {
    background: none;
}

#commentList {margin: 0; padding: 0;}
#commentList li {
    margin-bottom: 1.2em;
    list-style: decimal;
}
#commentform {
    margin: 1em 0;
    background: #FAFAFA;
    width: 360px;
}
.commentmetadata {padding: 2px 0 4px;}
.commentmetadata a {
    color: #444;
    text-decoration: none;
}
.commentmetadata a:hover {text-decoration: underline;}

textarea.styled {width: 280px;}

.styled {
    font-size: 1.1em;
    background: #F8F7F6;
    border: 1px solid #D6D3D3;
}
.styled:hover {
    background: #FFF;
    border: 1px solid #D6D3D3;
}
.styled:focus {
    background: #FFF;
    border: 1px solid #939793;
}
#commentform input {margin-bottom: 3px;}

#viewpage {padding: 10px 20px; text-align: justify;}

/* calendar */
#wp-calendar {color:#A0A0A0;}

#sidebar table caption {border-bottom-color:#000;}

#sidebar table thead tr {
  border-bottom-color:#000;
  color:#A53512;
}

#sidebar table th {border-bottom-color:#000;}

#sidebar table td#today {
  border-color:#000;
  color:#A53512;
}

#sidebar table td a {
  border-bottom-color:#000;
  background-color:#EDF3DE;
}

#sidebar table tfoot {border-top-color:#000;}

#sidebar table tfoot a {background:none;}

/* calendar
--------------------------------------------------*/
#wp-calendar {
  display:inline-table;
  border-collapse:collapse;
  width:185px;
  margin:0px 10px 0 10px;
  text-align:center;
}

#sidebar table caption {
  margin: -5px 10px 0 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid;
  letter-spacing: 0.1em;
}

#sidebar table thead tr {border-bottom:1px solid;}

#sidebar table th {border-bottom:1px solid;}

#sidebar table td {
  width: 225px; /* maximaize width; honestly, I don't know much about tables... */
  padding: 1px;
  font-size: 0.9em;
}

#sidebar table td#today {
  padding: 0;
  border: 1px solid;
  font-size: 1em;
  font-weight: bold;
}

#sidebar table td a {
  display: block;
  border-bottom: 1px solid;
  font-weight: bold;
  font-size: 1.15em;
}

#sidebar table tfoot {border-top:1px solid;}
#sidebar table tfoot a {
  border: none;
  font-weight: bold;
}
#sidebar table tfoot #prev a {text-align:left;}
#sidebar table tfoot #next a {text-align:center;}

#searchform {padding: 10px;}
#board{}
  #board a.inline{text-decoration: none; border: 1px solid #ccc; -moz-border-radius: 20px; padding: 2px 20px;}
    #board a:hover {background: #F8D634;}
  #board a.current{background: #000; color: #fff;}
  table#stats{margin:3px 0; padding: 10px 0; border-top: 3px double #ccc;}
    table#stats th{border-bottom: 3px double #000; font-variant: small-caps;}
    table#stats td{padding: 3px; border-bottom: 1px dashed #ccc; border-right: 1px solid #ccc;}
      table#stats td.type {color: #666; font-size:.75em;}
      th.type{color:#666;}
      table#stats a.edit, table#stats a.delete, a.edit, a.delete {display: inline-block; margin: 0px auto -4px auto; width: 18px; height: 18px; padding: 0;}
      table#stats a.edit, a.edit{ background: transparent url('/images/edit.gif') no-repeat left;}
      table#stats a.delete, a.delete{ background: transparent url('/images/delete.gif') no-repeat left;}
      table#stats a.edit:hover, table#stats a.delete:hover, a.edit:hover, a.delete:hover{background-position: right;}
      table#stats td input{width:95%;}
    tr.even{background:#f0f0f0;}
    tr.first{background:#CAE0D0;}
    tr.second{background:#D9E9DD;}
    tr.third{background:#E8F2EB;}
    
#pad{font-size: 3em; width: 320px; height:480px; text-align: center; font-family: "Arial Black";}
  #pad #flash_notice, #pad #flash_error{display: block; font-variant: small-caps; text-align: center; font-size:.3em;}
    #flash_notice{background: green; color: #fff;}
    #flash_error{background: red; color: #fff;}
  #pad input{width: 98%; font-size: 1.5em; font-family: "Courier"; text-align:center;}
  #pad a {width:25%; margin:auto; border: 3px double #ccc; background: #f0f0f0; text-decoration:none;}
    #pad a:hover {background:#F8D634;}
    a#ok:hover{background: green; color: #fff;}
    a#cl:hover{background: red;}
    
table#racers{background: #999; margin:auto; padding:.24%; font-size: .9em;}
  table#racers tr th{font-variant:small-caps; background: #333; border-bottom: 3px double #000; color: #fff; padding: 2px 0 2px 4px;}
  table#racers tr td{border-bottom:1px dashed #ccc; padding: 1px 0 1px 4px; background:#fff;}
  table#racers tr.even td{background:#f0f0f0;}
  
table#laps{margin:auto; padding:.24%; font-size: .9em;}
  table#racers tr th{font-variant:small-caps; background: #333; border-bottom: 3px double #000; color: #fff; padding: 2px 0 2px 4px;}
  table#racers tr td{border-bottom:1px dashed #ccc; padding: 1px 0 1px 4px; background:#fff;}
  table#racers tr.even td{background:#f0f0f0;}
  
/* countup */
p#intro{font-size:.9em; color: #fff; margin: 20px 0 0 10px;}
p#total{margin:6px 0 0 0;}
