#inner, #footer, #path_container, #header_container {background: none;}
.main {background: #fff;}
#sidebar {background: #e4e4e4;}
a#logo{display:none;}
#countdown h4 {padding-left: 0;}
.header .title{margin: 0;}

#sidebar ul li {margin: 0; padding: 0;}

input.select {width: 12px; float:left;}


