- form_for [@team, @lap] do |form|
  %fieldset
    %em Server's timezone is on Pacific!!! Subtract two from your hours. Sorry guys. -micah
    = form.label :created_at
    = form.datetime_select :created_at

  %fieldset
    = form.submit
