!!!
%html
  %head
    = stylesheet_link_tag "theme/application"
    = javascript_include_tag "jquery", "input"
  %body
    - if @lap.errors.on :team
      #flash_error Bad Team #!
    #pad
      - form_for @lap do |form|
        = form.text_field :team_id
      - (1..9).to_a.in_groups_of(3) do |triplet|
        - triplet.each do |number|
          %a.number.left{:href => "#", :"data-value" => number.to_s}= number
        .clear
      %a#cl.left{:href => "#"} &laquo;
      %a.number.left{:href => "#", :"data-value" => "0"} 0
      %a#ok.left{:href => "#"} OK
      .clear
