/* standard elements */
html {min-height: 100%;}

* {
    margin: 0;
    padding: 0;
}

a {color: #B0915F;}
a:hover {color: #B0915F; text-decoration: underline;}
a img {border: none;}

body {
    background-color: #493530;
    color: #444;
    font: normal 62.5% "Arial", sans-serif;
}

p,code,ul {padding-bottom: 1.2em;}

li {list-style: none;}

h1 {font-weight: normal; font-size: 26px;}
h2 {font-weight: normal; font-size: 24px;}
h3 {font-weight: normal; font-size: 1em;}

h1,h2,h3 {padding-top: 6px; color: #493530; margin-bottom: 4px;}

code {
    background: #FFF;
    border: 1px solid #EEE;
    border-left: 6px solid #CCC;
    color: #666;
    display: block;
    font-size: 1em;
    line-height: 1.6em;
    margin-bottom: 12px;
    padding: 8px 10px;
    white-space: pre;
}

blockquote {
    background: url('../../images/theme/quote.gif') no-repeat;
    display: block;
    font-weight: bold;
    padding-left: 28px;
}

/* misc */
.clearer {clear: both; font-size: 0;}
.left {float: left;}
.right {float: right;}

/* structure */

#inner {width: 100%; border-top: 2px solid #2F1812; border-bottom: 2px solid #493530;
  padding: 0 0 6px 0; background: #E7E7E2 url('../../images/theme/bg_tile.gif') repeat;}

.inner-container {
    font-size: 1.5em;
    margin: 10px auto 0 auto;
    width: 900px;
}

.outer-container { padding-bottom: 6px; min-width: 900px;}

/* headere & title */
.header {background: #3b3b38 url('../../images/theme/header_bg.jpg') no-repeat center; height: 73px; border-bottom: 2px solid #000000;
  font: 3em normal "Arial Black", sans-serif;}

#account {position: absolute; z-index: 100; right: 0px; color: #8A9CA1;}
#account a {margin:3px 6px 0 6px; font-size: 13px; text-decoration: none;}
#account a:hover {color: #8A9CA1;}

#cork {background: transparent url('../../images/theme/pvw_cork.jpg') no-repeat;
  position: absolute; top:11px; left:-70px; width:215px; height:127px;}

.header .title { position: relative; margin: 0 auto; color: #FFF; width:900px;}

.header .title h1 { }
.header .title h1.sitename a {color: #F8D634;; text-decoration: none; font-size: 1.2em;}
.header .title h1 .slogan {display: block; font-size: 1em; color: #FFFFFF;}

/* path */
#path_container {width: 100%; background: #2F1812; border-top: 2px solid #493530; border-bottom: 2px solid #493530;}
.path { width: 900px; margin: 0 auto; color: #FFF; font-size:1.8em; padding: 8px 0px 6px 0px; 
  text-align: center;}
.path li,.path ul {display: inline;}

li.current_page_item a, li.current_page_item a:hover {font-weight: bold; color: #B0915F;}
.path a {color: #B0915F; text-decoration: none; padding: 0 42px; }
.path a:hover {color: #8A9CA1;}

.post {background: transparent url('../../images/theme/post.gif') no-repeat 11px 18px; padding: 0 0 4px 0;}
.post:hover {background-image:url('../../images/theme/post_over.gif');}

/* main */

/* content */
#content { float: left; width: 600px; background-color: #FFFFFF; border: 1px solid #D7D7D2; padding: 10px;}
#content .author {
    color: #664;
    font-size: 0.9em;
    margin-bottom: 6px;
}
#content li {
    line-height: 1.4em;
    list-style: url('../../images/theme/li.gif');
    margin-left: 18px;
}

/* navigation */

.banner {display: block; margin: 0 0 6px 0;}
.banner:hover {background-position: bottom;}
.pvw {background: transparent url('../../images/theme/banner_pvw.gif') no-repeat top; width:239px; height:110px;}
.pws {background: transparent url('../../images/theme/banner_pws.gif') no-repeat top; width:240px; height:144px;}
.pwg {background: transparent url('../../images/theme/banner_pwg.gif') no-repeat top; width:240px; height:110px;}


#sidebar { background-color: #F7F7F2; padding: 10px;
    float: right; width: 240px; border: 1px solid #D7D7D2;
      -moz-border-radius:12px; -webkit-border-radius:12px; border-radius: 12px;
}
#sidebar h3 {
    color: #5A5A43;
    font-weight: bold;
    line-height: 30px;
    margin: 0;
    padding-left: 12px;
}
#sidebar ul {
    padding: 0;
    border-top: 1px solid #EAEADA;
}
#sidebar li {border-bottom: 1px solid #EAEADA;}
#sidebar li a {
    color: #554;
    display: block;
    padding: 2px 0 2px 15%;
    text-decoration: none;
    width: 85%;
}
#sidebar li a:hover { background: #CFDCE0; color: #654;
    -moz-border-radius: 9px; -webkit-border-radius: 9px; border-radius: 9px;
}

/* footer */
#footer {
    background: #2F1812;
    color: #F7F7F2;
    font-style: bold;
    font-size: 1em ;
    padding: 10px 12px;
    border-top: 2px solid #493530; border-bottom: 2px solid #493530;
}

#footer_content {width: 900px; margin: 0 auto;}

#footer a {
    color: #B0915F;
    text-decoration: none;
}
#footer a:hover {color: #8A9CA1; text-decoration: none;}
#footer_content .right {padding:0 0 0 10px;}

/* posts */
h2.title a { display: block; background: #CFDCE0 url('../../images/theme/lt_texture.gif') repeat; border: 1px solid #cccccc; 
  color: #333333; text-decoration: none; margin: 0 0 0 -14px; padding: 8px 10px 3px 10px;
  width: 101%;}
h2.title:hover a {color: #000000;}
.atomentry h1 a:hover {
    border-color: #F60;
    color: #553;
}

.atomentry {margin: 6px 0 2px;}
.atomentry .info{
    background: #F5F5F5;
    border: 1px solid #E3E4E4;
    color: #666;
    clear: both;
    margin: 2px 0 4px;
    padding: 5px 10px;
}
.atomentry img {
    border: 2px solid #E7E7E2;
    margin: 0 10px;
}
.atomentry a img {border: 4px solid #DDD;}
.atomentry a:hover img {border-color: #CCC;}

.info a {text-decoration: none;}
.info a:hover {text-decoration: underline;}

/* comments */
#content ol li {
    background: none;
}

#commentList {margin: 0; padding: 0;}
#commentList li {
    margin-bottom: 1.2em;
    list-style: decimal;
}
#commentform {
    margin: 1em 0;
    background: #FAFAFA;
    width: 360px;
}
.commentmetadata {padding: 2px 0 4px;}
.commentmetadata a {
    color: #444;
    text-decoration: none;
}
.commentmetadata a:hover {text-decoration: underline;}

textarea.styled {width: 280px;}

.styled {
    font-size: 1.1em;
    background: #F8F7F6;
    border: 1px solid #D6D3D3;
}
.styled:hover {
    background: #FFF;
    border: 1px solid #D6D3D3;
}
.styled:focus {
    background: #FFF;
    border: 1px solid #939793;
}
#commentform input {margin-bottom: 3px;}

/* calendar */
#wp-calendar {color:#A0A0A0;}

#sidebar table caption {border-bottom-color:#000;}

#sidebar table thead tr {
  border-bottom-color:#000;
  color:#A53512;
}

#sidebar table th {border-bottom-color:#000;}

#sidebar table td#today {
  border-color:#000;
  color:#A53512;
}

#sidebar table td a {
  border-bottom-color:#000;
  background-color:#EDF3DE;
}

#sidebar table tfoot {border-top-color:#000;}

#sidebar table tfoot a {background:none;}

/* calendar
--------------------------------------------------*/
#wp-calendar {
  display:inline-table;
  border-collapse:collapse;
  width:185px;
  margin:0px 10px 0 10px;
  text-align:center;
}

#sidebar table caption {
  margin: -5px 10px 0 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid;
  letter-spacing: 0.1em;
}

#sidebar table thead tr {border-bottom:1px solid;}

#sidebar table th {border-bottom:1px solid;}

#sidebar table td {
  width: 225px; /* maximaize width; honestly, I don't know much about tables... */
  padding: 1px;
  font-size: 0.9em;
}

#sidebar table td#today {
  padding: 0;
  border: 1px solid;
  font-size: 1em;
  font-weight: bold;
}

#sidebar table td a {
  display: block;
  border-bottom: 1px solid;
  font-weight: bold;
  font-size: 1.15em;
}

#sidebar table tfoot {border-top:1px solid;}
#sidebar table tfoot a {
  border: none;
  font-weight: bold;
}
#sidebar table tfoot #prev a {text-align:left;}
#sidebar table tfoot #next a {text-align:center;}

#searchform {padding: 10px;}
