= form_for @race, :url => [:admin, @site, @race] do |form|
  %h2 New Race

  %fieldset
    .field
      = form.datetime_select :start_time, :label => true

  %hr

  - save_or_cancel_links form, :cancel_url => [:admin, @site, :races]
