%h2 Edit Confirmation Email

%hr

= form_for @site, url: admin_site_confirmation_email_path(@site) do |form|
  .field
    = form.label :confirmation_email_body, "Message"
    /
      Team name: <name>
      Position: <position>
      Class: <category>
      Shirt sizes: <shirt_sizes>
    
      \---
    
    = form.text_area :confirmation_email_body

  .actions-field
    %input.save(type="submit" value="Save Confirmation Email")
    = link_to "Cancel", :back, class: "cancel"

