%h2 Edit Confirmation Email

%hr

= form_for @site, url: admin_site_confirmation_email_path(@site) do |form|
  /
    Team name: <%= @team.name %>
    Position: <%= @team.position %>
    Class: <%= @team.category %>
    Shirt sizes: <%= @team.shirt_sizes %>
    
    ---
    
  .field
    = form.label :confirmation_email_body, "Message"
    = form.text_area :confirmation_email_body

  .actions-field
    %input.save(type="submit" value="Save Confirmation Email")
    = link_to "Cancel", :back, class: "cancel"

