- if @section.contents.published.length > 1
  %h3= h @section.title
  %ul
    - @section.contents.published.select(&:root?).each do |content|
      %li= link_to_current h(content.title), content_path(@section, content)

%h3 Connect
%ul#connect
  %li= link_to "Follow us on Twitter", "#", :id => "twitter"
  %li= link_to "Become a Fan on Facebook", "#", :id => "facebook"
