- if @section.contents.published.length > 1
  .field
    %h3= h @section.title
    %ul.quicklinks
      - @section.contents.published.select(&:root?).each do |content|
        %li= link_to_current h(content.title), [@section, content], :if => content == @article

.field
  <iframe width='300' height='360' src='http://iconosquare.com/widget.php?choice=hashtag&hashtag=rw24&show_infos=false&linking=instagram&width=300&height=360&mode=grid&layout_x=3&layout_y=3&padding=3&photo_border=true&background=FFFFFF&text=777777&widget_border=true&radius=3&border-color=DDDDDD&user_id=238850714&time=1406338380362' allowTransparency='true' frameborder='0' scrolling='no' style='border:none; overflow:hidden; width:300px; height:360px;'></iframe>
.field
  <iframe width='300' height='360' src='http://iconosquare.com/widget.php?choice=hashtag&hashtag=riverwest24&show_infos=false&linking=instagram&width=300&height=360&mode=grid&layout_x=3&layout_y=3&padding=3&photo_border=true&background=FFFFFF&text=777777&widget_border=true&radius=3&border-color=DDDDDD&user_id=238850714&time=1406338380362' allowTransparency='true' frameborder='0' scrolling='no' style='border:none; overflow:hidden; width:300px; height:360px;'></iframe>
.field
  <iframe width='300' height='360' src='http://iconosquare.com/widget.php?choice=hashtag&hashtag=peoplesholiday&show_infos=false&linking=instagram&width=300&height=360&mode=grid&layout_x=3&layout_y=3&padding=3&photo_border=true&background=FFFFFF&text=777777&widget_border=true&radius=3&border-color=DDDDDD&user_id=238850714&time=1406338380362' allowTransparency='true' frameborder='0' scrolling='no' style='border:none; overflow:hidden; width:300px; height:360px;'></iframe>

.field
  <a class="twitter-timeline" href="https://twitter.com/search?q=%23rw24+OR+%23riverwest24+OR+%23peoplesholiday" data-widget-id="492743751022813184">Tweets about "#rw24 OR #riverwest24 OR #peoplesholiday"</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

.field
  %h3 Connect
  %ul.quicklinks
    %li= link_to "Follow us on Twitter", "http://twitter.com/riverwest24", :target => "_blank", :class => "twitter"
    %li= link_to "Become a Fan on Facebook", "http://www.facebook.com/#!/pages/Riverwest24/282766933449?ref=ts", :target => "_blank", :class => "facebook"
