!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "generator", :content => "adva-cms - Open source content management platform" }
    %title
      adva-cms: Admin
      contents
    %link{ :href => "/stylesheets/adva_cms/admin/reset.css?1275608703", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/adva_cms/admin/layout.css?1275608703", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/adva_cms/admin/common.css?1275608703", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/adva_cms/admin/header.css?1275608703", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/adva_cms/admin/top.css?1275608703", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/adva_cms/admin/sidebar.css?1275608703", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/adva_cms/admin/forms.css?1275608703", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/adva_cms/admin/lists.css?1275608703", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/adva_cms/admin/content.css?1275608703", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/adva_cms/admin/themes.css?1275608703", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/adva_cms/admin/helptip.css?1275608703", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/adva_cms/admin/users.css?1275608703", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/adva_cms/jquery/jquery-ui.css?1275608703", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/adva_cms/jquery/jquery.tooltip.css?1275608703", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/adva_activity/admin/activities.css?1275608703", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/adva_comments/admin/comments.css?1275608704", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/has_filter/filter.css?1275608704", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/adva_cms/admin/projection.css?1275608703", :rel => "stylesheet", :media => "projection", :type => "text/css" }
    %link{ :href => "/stylesheets/admin.css?1276378296", :rel => "stylesheet", :media => "screen", :type => "text/css" }
  %body
    #top
      %ul.main
        %li.item
          %a#show_site{ :href => "/admin/sites/1" }
            Overview
        %li.item
          %a#index_sections{ :href => "/admin/sites/1/sections" }
            Sections
          %ul#sections_menu
            %li
              %a.level_0{ :href => "/admin/sites/1/sections/1/contents" }
                Home
            %li
              %a.level_0{ :href => "/admin/sites/1/sections/2/contents" }
                About
            %li
              %a.level_0{ :href => "/admin/sites/1/sections/3/contents" }
                Media
            %li
              %a.level_0{ :href => "/admin/sites/1/sections/4/contents" }
                Join
            %li
              %a.level_0{ :href => "/admin/sites/1/sections/5/contents" }
                Contact
        %li.item
          %a#index_comments{ :href => "/admin/sites/1/comments" }
            Comments
        %li.item.active
          %a#index_races{ :href => "#" }
            Races
          %ul#sections_menu
            %li
              %a.level_0.active{ :href => "#" }
                2010
      %ul.right
        %li.item
          %a#edit_site{ :href => "/admin/sites/1/edit" }
            Settings
        %li.item
          %a#index_users{ :href => "/admin/sites/1/users" }
            Users
    #header
      .main
        %ul#breadcrumbs
          %li
            %a#show_site_1.show.site{ :href => "/admin/sites/1", :title => "Show" }
              Riverwest24
          %li
            %a#index_sections{ :href => "/admin/sites/1/sections" }
              Sections
          %li
            %a#section{ :href => "/admin/sites/1/sections" }
              About
          %li.last
            Contents
      .right
        Logged in as:
        %a{ :href => "/admin/sites/1/users/1" }
          gubs
        \&middot;
        %a{ :href => "/logout", :onclick => "var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'delete'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'zoNDyJDuxhbFHYzwBvNk1VfKCtY1eceOIgrHxZdZVi0='); f.appendChild(s);f.submit();return false;" }
          Logout
        \&middot;
        %a#go_to_website{ :href => "http://riverwest24.com" }
          Website »
    #page
      .main
        #main_menu
          %ul.left
            %li.item
              %h4
                2010:
            %li.item.active
              %a#index_contents{ :href => "/admin/sites/1/sections/2/contents" }
                Teams
          %ul.actions
            %li.item
              %a#new_article{ :href => "#" }
                New Team?
        %p#flash_notice.flash.notice{ :style => "display: none;" }
        %p#flash_error.flash.error{ :style => "display: none;" }
        #content
          %h2 Edit Team
          %fieldset
            %h4 Main Information
            .field
              %label POS#
              %b ---  
            .field
              %label Category
              %select.sm
                %option A
                %option B
                %option S
                %option T
            .field
              %label Team Name
              %input.text{:type => "text"}
          %fieldset
            %h4 Leader
            .field
              %label Name
              %p
                %b Troy Lucas
            .field
              %label Email
              %p
                %b lucas@test.com
              %label Phone
              %p
                %b xxx-xxx-xxxx
            .field
              %label Address
              %input.text.lg{:type => "text"}
            .field
              %label.opt Line 2
              %input.text.lg{:type => "text"}
            .field
              %label City
              %input.text.med{:type => "text"}
              %select.sm
                %option --
              %label Zip
              %input.text.sm{:type => "text"}
              
          %fieldset
            %h4 Riders
            .field
              %label Rider 1
              %p
                %a{:href => "#"} Troy Lucas
      #sidebar.right
        .tabs
          %ul
            %li.active
              %a{ :href => "#filters", :onclick => "return false;" }
                Filter
          #tab_filters.tab.active
            %form#filters.filters{ :method => "get", :action => "/admin/sites/1/sections/2/contents" }
              %fieldset.set
                %select#selected_filter_0.selected_filter{ :name => "filters[][selected]" }
                  %option{ :selected => "selected", :value => "title" }
                    title
                  %option{ :value => "body" }
                    body
                  %option{ :value => "excerpt" }
                    excerpt
                  %option{ :value => "tagged" }
                    tagged
                  %option{ :value => "state" }
                    state
                  %option{ :value => "categorized" }
                    categorized
                %fieldset#filter_title_0.filter.filter_title.selected
                  %select#filter_title_scope_0{ :name => "filters[][title][scope]" }
                    %option{ :value => "contains" }
                      contains
                    %option{ :value => "starts_with" }
                      starts with
                    %option{ :value => "ends_with" }
                      ends with
                    %option{ :value => "is" }
                      is
                  %input#filter_title_query_0.text{ :name => "filters[][title][query]", :type => "text" }
                %fieldset#filter_body_0.filter.filter_body
                  %select#filter_body_scope_0{ :name => "filters[][body][scope]" }
                    %option{ :value => "contains" }
                      contains
                    %option{ :value => "starts_with" }
                      starts with
                    %option{ :value => "ends_with" }
                      ends with
                    %option{ :value => "is" }
                      is
                  %input#filter_body_query_0.text{ :name => "filters[][body][query]", :type => "text" }
                %fieldset#filter_excerpt_0.filter.filter_excerpt
                  %select#filter_excerpt_scope_0{ :name => "filters[][excerpt][scope]" }
                    %option{ :value => "contains" }
                      contains
                    %option{ :value => "starts_with" }
                      starts with
                    %option{ :value => "ends_with" }
                      ends with
                    %option{ :value => "is" }
                      is
                  %input#filter_excerpt_query_0.text{ :name => "filters[][excerpt][query]", :type => "text" }
                %fieldset#filter_tagged_0.filter.filter_tagged
                  %input#filter_tagged_query_0.text{ :name => "filters[][tagged]", :type => "text", :value => "" }
                %fieldset#filter_state_0.filter.filter_state
                  %input#filter_state_published_0.checkbox{ :name => "filters[][state][]", :type => "checkbox", :value => "published" }
                  %label{ :for => "filter_state_published_0" }
                    published
                  %input#filter_state_unpublished_0.checkbox{ :name => "filters[][state][]", :type => "checkbox", :value => "unpublished" }
                  %label{ :for => "filter_state_unpublished_0" }
                    unpublished
                %fieldset#filter_categorized_0.filter.filter_categorized
                %span.controls
                  %a.filter_add{ :href => "#" }
                    +
                  %a.filter_remove{ :href => "#" }
                    \-
              .submit
                %button
                  Apply
      #left.collapsed
