%h4 Edit Points
.field
  %label POS#
  %select
    %option ---
.field
  %label Type
  %select
    %option Lap
    %option Bonus
    %option Penalty
.field
  %label Amount
  %input.text{:type => "text"}
.field
  %label Time
  %input.text{:type => "text"}
%hr
.field
  %input.submit.button{:type => "submit", :value => "Update"}
  %p.left.lineheight
    or, 
    = link_to "cancel", "#"

  