#pad
  %input{:type => "text"}
  %a.left{:href => "#"} 1
  %a.left{:href => "#"} 2
  %a.left{:href => "#"} 3
  .clear
  %a.left{:href => "#"} 4
  %a.left{:href => "#"} 5
  %a.left{:href => "#"} 6
  .clear
  %a.left{:href => "#"} 7
  %a.left{:href => "#"} 8
  %a.left{:href => "#"} 9
  .clear
  %a#cl.left{:href => "#"} &laquo;
  %a.left{:href => "#"} 0
  %a#ok.left{:href => "#"} OK
  .clear