%h2 Lap Times
%h3 INSERT TEAM NAME

%p

%table#lap-times
  %col{:width => "80"}
  %col{:width => "120"}
  %tbody#teams
    %tr
      %td Lap 1
      %td 15:12
    %tr
      %td Lap 2
      %td 17:01
    %tr
      %td Lap 3
      %td 15:12
    %tr
      %td Lap 4
      %td 17:01
      
%a{:href => "/leader-board"} &laquo; Back to Leader Board