#viewpage
  %h2 Become a RW24 Sponsor

  %p &nbsp;
  
  %form{ :action => "sponsor/deliver" }
    %fieldset
      .field
        %label{ :for => "company_name" } Company Name
        %input#company_name{ :name => "company_name", :type => "text" }
        .clear

      .field
        %label{ :for => "contact_name" } Contact Name
        %input#contact_name{ :name => "contact_name", :type => "text" }
        .clear

      .field
        %label{ :for => "email" } Email
        %input#email{ :name => "email", :type => "text" }
        .clear

      .field
        %label{ :for => "phone" } Phone
        %input#phone{ :name => "phone", :type => "text" }
        .clear

      .field
        %label &nbsp;
        %input{ :value => "Submit", :type => "submit" }
        
  %h2 2008 Sponsors
  
  %table{ :cellspacing => "1", :border => "0", :width => "100%", :cellpadding => "1" }
    %col{ :width => "50%" }
    %col{ :width => "50%" }
    %tbody
      %tr
        %td
          %a{ :href => "http://www.adambombgallerie.com/", :rel => "nofollow" }
            Adambomb Gallerie
        %td
          %a{ :href => "http://www.lakefrontbrewery.com/", :rel => "nofollow" }
            Lakefront Brewery
      %tr
        %td
          %a{ :href => "http://www.benscycle.net/", :rel => "nofollow" }
            Ben’s Cycle
        %td
          %a{ :href => "http://www.lotuslandrecords.net/", :rel => "nofollow" }
            Lotusland Records
      %tr
        %td
          %a{ :href => "http://www.bikemilwaukee.org/", :rel => "nofollow" }
            Bike Milwaukee.org
        %td
          %a{ :href => "http://www.mabaensch.com/", :rel => "nofollow" }
            Ma Baensch
      %tr
        %td
          %a{ :href => "http://www.breakawaybicycle.com/", :rel => "nofollow" }
            Breakaway Bicycle Couriers
        %td
          %a{ :href => "http://www.octopusincorporated.com/", :rel => "nofollow" }
            Octopus Caps
      %tr
        %td
          %a{ :href => "http://www.bremencafe.com/", :rel => "nofollow" }
            Bremen Cafe
        %td
          %a{ :href => "http://www.riverhorsebar.com/", :rel => "nofollow" }
            River Horse Bar
      %tr
        %td
          %a{ :href => "http://www.cogmag.com/", :rel => "nofollow" }
            COG Magazine
        %td
          %a{ :href => "http://www.riverwestcoop.org/", :rel => "nofollow" }
            Riverwest Co-op
      %tr
        %td
          %a{ :href => "http://wearcognition.com/", :rel => "nofollow" }
            Cognition Caps
        %td
          %a{ :href => "http://http//www.rockhaus.com/", :rel => "nofollow" }
            Rockhaus
      %tr
        %td
          %a{ :href => "http://ernestolube.com/", :rel => "nofollow" }
            Ernesto Lube
        %td
          %a{ :href => "http://http//riverwest24.blogspot.com/", :rel => "nofollow" }
            Rushmore Records
      %tr
        %td
          %a{ :href => "http://www.myspace.com/fischbergers", :rel => "nofollow" }
            Fischberger’s Variety
        %td
          %a{ :href => "http://www.seagullbags.com/", :rel => "nofollow" }
            Seagull Bags
      %tr
        %td
          %a{ :href => "http://www.fuelcafe.com/", :rel => "nofollow" }
            Fuel Cafe
        %td
          %a{ :href => "http://www.locust-street.com/sunrise.htm", :rel => "nofollow" }
            Sunrise Foods
      %tr
        %td
          %a{ :href => "http://www.greatlakesdistillery.com/", :rel => "nofollow" }
            Great Lakes Distillery
        %td
          %a{ :href => "http://www.theborgward.org/", :rel => "nofollow" }
            the Borg Ward collective
      %tr
        %td
          %a{ :href => "http://riverwest24.blogspot.com/", :rel => "nofollow" }
            Heroine Salon
        %td
          %a{ :href => "http://http//www.theshopmilwaukee.com/", :rel => "nofollow" }
            the Shop
      %tr
        %td
          %a{ :href => "http://profile.myspace.com/index.cfm?fuseaction=user.viewprofile&amp;friendid=230404337", :rel => "nofollow" }
            In Stereo Music Group
        %td
          %a{ :href => "http://www.under-the-weather.ca/", :rel => "nofollow" }
            Under the Weather Bags
      %tr
        %td
          %a{ :href => "http://koss.com/", :rel => "nofollow" }
            Koss Headphones
        %td
          %a{ :href => "http://www.onmilwaukee.com/bars/articles/uptownerbar.html", :rel => "nofollow" }
            Uptowner
      %tr
        %td
          %a{ :href => "http://www.merchantcircle.com/business/L.And.W.Liquor.414-372-0666", :rel => "nofollow" }
            L &amp; W Liquor
        %td
          \&nbsp;
  %p
    \&nbsp;

