#sidebar
  .calculator
    +float-left
    margin-bottom: 20px
    input
      +float-left
      display: block
      &.text
        font-size: 2em
        width: 72%
        height: 44px
      &.submit
        border: 2px inset
        font-family: Futura
        font-weight: bold
        margin: 1px 0 0 0
        padding: 0
        width: 48px
        height: 48px
        line-height: 2.5
        font-size: 1.25em
        text-align: center
        background: #fff
        &:hover
          background= !primaryColor
          color: #fff
    .medium
      width: 75px !important
    label
      width: auto
      &.medium
        text-align: left
      

tr.bonus, #bonus input.text
  background: #DFFFE9 !important
tr.penalty, #penalty input.text
  background: #FFE4DF !important
tr.pending
  color: #ccc
tr.failed
  background: red !important
  color: #fff