@import font-awesome-sprockets
@import font-awesome

// BREAKPOINTS

=handheld
  @media screen and (max-device-width: 767px), (max-width: 767px)
    @content

//

$blueprint_grid_columns: 24.25
$blueprint_grid_width: 30px
$blueprint_grid_margin: 10px

$headerColor: #323232
$primaryColor: #ff6400
$secondaryColor: $primaryColor + #1a1a1a

$default: Futura, Helvetica, Arial, sans-serif
$font: $default

// Global Mixins

@mixin constant-width( $width )
  width: $width
  min-width: $width
  max-width: $width
@mixin constant-height( $height )
  height: $height
  min-height: $height
  max-height: $height
