.stripe tr:nth-child(even)
  background: #EBEBEB
tr.bonus, #bonus input.text
  background: #DFFFE9 !important
tr.penalty, #penalty input.text
  background: #FFE4DF !important
tr.pending
  color: #ccc
tr.failed
  background: red !important
  color: #fff
  td
    padding: 0
    &[colspan="2"]
      text-align: left
p.lineheight
  line-height: 2.75

.impossible
  td
    &:nth-child(3)
      color: red
  
//

#cee_box
  padding: 20px
  +border-radius(4px)
  +box-shadow(#000 0 0 12px)
  background: #fff
  height: 400px
  #cee_count
    display: none
  label
    width: auto
