#team-members
  float: left
  list-style: inside disc
  margin: 0 0 12px
  padding: 0
  width: 100%
  li
    float: left
    margin-right: 20px
    white-space: nowrap

#teams
  thead
    th
      border-bottom: 4px solid #1a1a1a
      padding-bottom: 3px
  tfoot
    th
      border-top: 4px solid #1a1a1a
      padding-top: 3px
  th, td
    &:last-child
      white-space: nowrap
  td
    padding: 6px 10px
    border-bottom: 1px dashed #ccc
  tr
    &.even
      background: #f1f1f1
.team
  a
    color: #000
    border-bottom: 1px dotted #000
    &:hover
      border: none

#teams, #bonus-points
  width: 100%
  tbody tr:hover
    background: lighten(yellow, 45%)

#teams
  th, td
    &:nth-child(1)
      width: 10%
    &:nth-child(2)
      width: 8%
    &:nth-child(3)
      width: 8%
    &:nth-child(4)
      width: 14%
    &:nth-child(5)
      width: 10%
    &:nth-child(6)
      width: 10%
    &:nth-child(7)
      width: 38%
    &:nth-child(8)
      width: 5%

#leader-board
  th
    border-bottom: 4px solid #1a1a1a
    +handheld
      font-size: 0.6em
  tbody tr:hover
    background: #FFC81F
  th, td
    text-align: center
    padding: 6px 0
    &:nth-child(1)
      width: 6%
    &:nth-child(2)
      width: 6%
    &:nth-child(3)
      text-align: left
    &:nth-child(4)
      width: 8%
    &:nth-child(5)
      width: 8%
      +handheld
        display: none
    &:nth-child(6), &:nth-child(7)
      white-space: nowrap
      padding-left: 3px
      padding-right: 3px
    &:nth-child(6)
      width: 8%
      +handheld
        color: green
    &:nth-child(7)
      width: 6%
      +handheld
        color: red
    &:nth-child(8)
      width: 10%
  th
    &:nth-child(6), &:nth-child(7)
      +handheld
        font-size: 0
  tfoot
    th
      border: none
      border-top: 4px solid #000

#bonus-points
  th, td
    &:nth-child(1)
      text-align: center
    &:nth-child(1)
      width: 10%
    &:nth-child(2)
      width: 90%

.toggle-categories
  display: flex
  margin: 0px 0 15px -41px
  width: calc(100% + 82px)
  align-items: stretch
  +handheld
    margin-left: -11px
    width: calc(100% + 22px)
  a
    background: linear-gradient(#fff, #e6e6e6)
    color: #333
    border: 1px solid #e0e0e0
    display: inline-block
    width: auto
    flex: 1 0
    white-space: nowrap
    font: 700 0.9em $default
    line-height: 1.2em
    padding: 10px 0
    border-color: #ccc
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    &.current
      background: linear-gradient(#333, #999)
      color: #fff
      box-shadow: transparent 0 0 0 0, #000 0 3px 9px 0 inset
      border-color: #1a1a1a
    +handheld
      font-size: 0.7em
      font-weight: normal

.point-tracker
  th, td
    &:last-child
      white-space: nowrap

//

.team-list
  width: 100%
  th, td
    box-sizing: border-box
    &:nth-child(1)
      width: 40px
    &:nth-child(2), &:nth-child(3), &:nth-child(4)
      width: 55px
    &:nth-child(6), &:nth-child(7)
      width: 80px
      text-align: center
    &:nth-child(9)
      width: 160px
    &:nth-last-child(1)
      width: 80px
      white-space: nowrap
      text-align: right
      border-right: none
  th
    padding: 8px 10px
    font-weight: bold
    border-bottom: 3px solid #181716
  td
    padding: 8px 10px
    vertical-align: top
    border-bottom: 1px solid #181716
    border-right: 1px dotted #e0e0e0 !important

.missing-shirts
  background: lighten(pink, 8%)
  color: red
