#teams, #lap-times, #bonuses, #penalties, #bonus-points
  thead
    th
      :border-bottom 4px solid #1a1a1a
      :padding-bottom 3px
  tfoot
    th
      :border-top 4px solid #1a1a1a
      :padding-top 3px
  td
    :padding 6px 10px
    :border-bottom 1px dashed #ccc
  tr
    &.even
      background: #f1f1f1
.team
  a
    color: #000
    border-bottom: 1px dotted #000
    &:hover
      border: none
      
#teams, #bonus-points
  width: 100%
  tbody tr:hover
    background: #FFC81F

#teams
  th, td
    &:nth-child(1)
      width: 10%
    &:nth-child(2)
      width: 8%
    &:nth-child(3)
      width: 14%
    &:nth-child(4)
      width: 10%
    &:nth-child(5)
      width: 10%
    &:nth-child(6)
      width: 38%
    &:nth-child(7)
      width: 5%
    &:nth-child(8)
      width: 5%

#leader-board
  @extend #teams
  th
    border: none
  th, td
    &:nth-child(1)
      width: 10%
    &:nth-child(2)
      width: 8%
    &:nth-child(3)
      width: 40%
    &:nth-child(4)
      width: 12%
    &:nth-child(5)
      width: 10%
    &:nth-child(6)
      width: 8%
    &:nth-child(7)
      width: 12%

#bonus-points
  th, td
    &:nth-child(1)
      text-align: center
    &:nth-child(1)
      width: 10%
    &:nth-child(2)
      width: 90%
      
#lap-times, #bonuses, #penalties
  +float-left
  margin: 20px 10px 0 0
  td, th
    text-align: left
    padding: 6px
    vertical-align: middle

#lap-times
  width: 40%
  td, th
    text-align: center
#bonuses
  width: 35%
#penalties
  width: 18%

#bonuses
  td
    background: #DFFFE9
    
#penalties
  td
    background: #FFE4DF

#show
  :margin 6px 0 12px
  :display block
  +float-left
  width: 100%
  a
    width: 13%
    :display inline-block
    +float-left
    line-height: 32px
    text-align: center
    +background-image(linear-gradient(#fcfcfc , #ccc))
    :font-size 1.1em
    :font-weight bold
    border: 1px solid #999
    :color #333
    &.first
      +border-left-radius(12px)
    &.last
      +border-right-radius(12px)
    &:hover
      background: #ccc
      color: #1a1a1a
    &.current
      background: #999
      +background-image(linear-gradient(#333, #999))
      color: #fff
      +box-shadow(transparent 0 0 0 0, #000 0 3px 9px 0 inset)
      border-color: #000
