@use "sass:color"

$headerColor: #323232
$primaryColor: #ff6400
$secondaryColor: color.scale($primaryColor, $blackness: 4%)

$teal: #95E0E5
$green: #398927
$red: #CC0000
$yellow: #e5c105
$peach: #FED1BF

$default: Futura, Helvetica, Arial, sans-serif
$font: $default
