@media (max-device-width: 800px)
  #sidebar
    display: none !important
  #content
    width: 98% !important
  #show
    width: 100% !important
    font-size: 1.75em !important
    a
      width: 14% !important
      padding-left: 0 !important
      padding-right: 0 !important
      text-align: center !important
      line-height: 60px
  #teams
    font-size: 2em !important
  #lap-times, #bonuses, #penalties
    width: 100%
    clear: both
    font-size: 2.25em
    th, td
      padding: 12px 20px
