= form.label :shirt_sizes
= form.fields_for :shirt_sizes, form.object.shirt_sizes do |shirt_sizes_form|
  .all-shirt-fields
    .field
      %h4 Sizes
      .shirt-fields
        - @race.shirt_sizes.each do |size|
          .field
            = shirt_sizes_form.label size.to_sym, size
            = shirt_sizes_form.number_field size.to_sym

