%h1 #{@team.position} - #{@team.name}

= stylesheet_link_tag "admin-score"

%table
  %col{ :width => "5%" }
  %col{ :width => "5%" }
  %col{ :width => "5%" }
  %col{ :width => "5%" }
  %col{ :width => "5%" }
  %col{ :width => "5%" }
  %col{ :width => "5%" }
  %col{ :width => "5%" }
  = render :partial => "points/point", :collection => @team.points
