#= require jquery-ui/widgets/autocomplete
#= require cocoon

$ ->
  $("[data-team-category-select]").each ->
    selector = $(this).data("team-category-select")
    $(this).change ->
      desiredLength = $("option:selected", this).data("max")
      actualLength = $(selector).length

      if desiredLength > actualLength
        for i in [1..(desiredLength - actualLength)]
          $("[data-association='rider']").click()

      if actualLength > desiredLength
        for i in [1..(actualLength - desiredLength)]
          index = actualLength - i
          $("#{selector} .remove_fields").get(i).click()

    $("body").on "cocoon:after-insert", (e, insertedItem, originalEvent) ->
      $("[data-autocomplete]", insertedItem).each ->
        $field = $(this)
        $input = $field.next()
        $fieldset = $field.closest(".rider-field")
        source = $field.data("autocomplete")

        $field.autocomplete
          source: source
          focus: (event, ui) ->
            $field.val ui.item.label
            false
          select: (event, ui) ->
            item = ui.item
            if item.verified
              $field.val item.label
              $fieldset.find("input[name$='[user_id]']").val item.user_id
              $fieldset.find("input[name$='[name]']").val item.name
              $fieldset.find("input[name$='[email]']").val item.email
              $fieldset.find("input[name$='[phone]']").val item.phone
              $fieldset.find("select[name$='[shirt_size]']").val item.shirt_size
              renderShirtSizeCounts()
              false
            else
              $.post({
                url: "/admin/sites/1/users/#{item.user_id}/resend_confirmation.js",
                dataType: "script",
                success: (event) ->
                  Flash.notice "Confirmation email resent to #{item.email}"
              })
              $field.val null
              false

        $field.autocomplete("instance")._renderItem = (ul, item) ->
          $("<li>")
            .append("<div>#{if item.verified then "" else "<span style='color: red'>UNCONFIRMED</span> "}#{item.label}</div>")
            .appendTo(ul)
    $("body").on "cocoon:after-remove", (e, removedItem, originalEvent) ->
      renderShirtSizeCounts()

  $("body").on "change", "select", ->
    renderShirtSizeCounts()

renderShirtSizeCounts = ->
  $(".all-shirt-fields input").val(0)
  sizeMap = <%= ShirtSizes.new.sizes.invert.to_json %>
  selectedSizes = $("select[name$='[shirt_size]']").map(() -> $(this).val()).toArray()
  selectedSizes.forEach (size) ->
    return if size.length == 0
    $field = $("input[name$='[#{sizeMap[size]}]']")
    count = parseInt($field.val()) || 0
    count += 1
    $field.val count

